* {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding-top: 100px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
footer {
    margin-top: 20px;
    color: gray;
    text-align: center;
}
img {
    margin-right: 8px;      
}
button {
    margin-top: 10px;
    display: flex;          
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgb(35, 177, 0);
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;       
    transition: all 200ms ease-in-out;
}
input{
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  font-size: 16px;
  color: #333;
  background-color: #f4f4f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none; 
  transition: all 0.3s ease;
}
a{
    color: rgb(35, 177, 0) ;
}
.zero {
    background-color: rgba(235, 234, 234, 0.74);
    display: flex;
    align-items: center;         
    flex-direction: column;     
    justify-content: center;
    width: 400px;
    height: auto;
    border: 8px solid rgb(70, 70, 70);
}
.um {
    width: 400px;
    display: flex;          
    flex-direction: row;     
    align-items: center;     
    background-color: rgb(13, 153, 0);
    background-image: url(../public/whatsapp.png);
}
.dois{
   align-items: center;
   background-color: #ffffff;
   width: auto;
}
.tres{
    align-self: self-start;
}
